<h1>Here Are All Articles:</h1>


<% @articles.each do |article| %>
  <a href="/articles/<%= article.id %>"><%= article.title %></a><br>
<% end %>
<br>
<br>
<br>
<a href="/articles/new">Create an Article</a>
