<form method="post" action="/articles">
Title: <input type="text" name="title">
<br>
Content: 
<br>
<textarea rows="4" cols="50" id='content' name="content"></textarea>
<br>
<input type="submit" />
</form>